.instructions {
  text-align: center;
}

body {
  background: url(./../images/caveBackground.jpg);
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  background-size: 100%;
}
h1 {
  font-family: 'Ravi Prakash', cursive;
  text-align: center;
  font-size: 550%;
}

/* h2 {
  font-family: 'Ravi Prakash', cursive;
  font-size: 250%;
  color: red
} */